body{
    background-color: black;
    color: white;
    margin-top: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}

.topnav{
    overflow: hidden;
}

.top-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li{
    display: inline;
}

a{
    padding: 0px;
    margin-top: 0px;
    padding-left: 25px;
    cursor: pointer;
    color: white;
}


.nav-logo{
    margin-top: 0px;
}